/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/qr
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.env.local
/.phpintel
/*.todo
/*.txt